<md-card class="mat-pad-none">

  <ng-template #loading>
    <div class="text-center">
      <i class="fa fa-spin fa-spinner fa-5x"></i>
      <br>
      Loading events...
    </div>
  </ng-template>

  <ng-template ngbModalContainer></ng-template>

  <ng-template #modalContent let-close="close">
    <div class="modal-header">
      <button color="primary" class="close" (click)="close()">
        <md-icon>close</md-icon>
      </button>
    </div>
    <div class="modal-body">
        <pre>{{ modalData?.event.meta | json }}</pre>
    </div>
    <md-icon (click)="close()" class="modal-confirm-btn">done</md-icon>
  </ng-template>

  <app-calendar-header
    [(view)]="view"
    [(viewDate)]="viewDate"
    (viewDateChange)="fetchEvents()"
    (viewChange)="fetchEvents()">
  </app-calendar-header>

  <div *ngIf="events$ | async; else loading; let events">
    <div [ngSwitch]="view">

      <mwl-calendar-week-view
        *ngSwitchCase="'week'"
        [viewDate]="viewDate"

        [events]="events"
        [locale]="getCurrntLang"
        [refresh]="refresh"
        [weekStartsOn]="weekStartsOn"
        (eventClicked)="handleEvent('Clicked', $event.event)">
      </mwl-calendar-week-view>
      <mwl-calendar-day-view
        *ngSwitchCase="'day'"
        [viewDate]="viewDate"
        [events]="events"
        [hourSegments]="6"
        [locale]="getCurrntLang"
        [dayStartHour]="8"
        [dayEndHour]="22"
        [refresh]="refresh"
        (eventClicked)="handleEvent('Clicked', $event.event)">
      </mwl-calendar-day-view>

    </div>
  </div>
</md-card>
