

<md-card class="mat-pad-none">

  <ng-template #loading>
    <div class="text-center">
      <i class="fa fa-spin fa-spinner fa-5x"></i>
      <br>
      Loading events...
    </div>
  </ng-template>


  <ng-template ngbModalContainer></ng-template>


  <ng-template #modalContent let-close="close">
    <div class="modal-header">
      <h5 class="modal-title">Event action occurred</h5>
      <button color="primary" class="close" (click)="close()">
        <md-icon>close</md-icon>
      </button>
    </div>
    <div class="modal-body">
      <div> Action: <pre>{{ modalData?.action }}</pre> </div>
      <div> Event: <pre>{{ modalData?.event | json }}</pre> </div>
    </div>
    <md-icon (click)="close()" class="modal-confirm-btn">done</md-icon>
  </ng-template>

  <div class="text-center mat-blue-800 overflow-hidden">
    <div class="cal-col">
      <div class="app-btn-group">
        <md-icon class="" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"> chevron_left
        </md-icon>
        <md-icon class="" mwlCalendarToday [(viewDate)]="viewDate"> today </md-icon>
        <md-icon class="" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"> chevron_right
        </md-icon>
      </div>
    </div>
    <div class="cal-col">
      <h3 class="app-cal-head">{{ viewDate | calendarDate:(view + 'ViewTitle'): getCurrntLang }}</h3>
    </div>
    <div class="right-tab cal-col">
      <div class="app-btn-group">
        <md-icon class="" (click)="view = 'week'" [class.active]="view === 'week'"> view_week </md-icon>
        <md-icon class="" (click)="view = 'day'" [class.active]="view === 'day'"> view_day </md-icon>
      </div>
    </div>
  </div>

  <br>

  <div [ngSwitch]="view">
    <mwl-calendar-week-view
      *ngSwitchCase="'week'"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="'day'"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-day-view>
  </div>
</md-card>
