.cell-totals {
  margin: 5px;
  text-align: center;
}

.cal-event-title {
  a:hover {
    color: hotpink;
  }
}

a:hover {
  background: #FFDD00;
  color: #AAAAAA;
}


.badge {
  margin-right: 5px;
}


h3 {
  margin: 0 0 10px;
}

pre {
  background-color: #f5f5f5;
  padding: 15px;
}
