<div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-between" fxFlex="100">
  <md-card  fxFlex.gt-md="30" fxFlex.gt-sm="30" fxFlex.gt-xs="100" fxFlex="100">
    <md-input-container fxFlex="100">
      <input name="teacher"
             mdInput
             fxFlex="100"
             placeholder="Teacher"
             [mdAutocomplete]="auto"
             [(ngModel)]="selectedTeacher"
             [formControl]="teacherControl">
    </md-input-container>

    <md-autocomplete #auto="mdAutocomplete" [displayWith]="teacherDisplayMethod">
      <md-option *ngFor="let teacher of filteredTeachers | async" [value]="teacher">
        {{ teacher?.name}} {{teacher?.surname }}
      </md-option>
    </md-autocomplete>
  </md-card>


  <md-card *ngIf="isTeacherSelected" class="mat-pad-none" fxFlex.gt-md="60" fxFlex.gt-sm="60" fxFlex.gt-xs="100" fxFlex="100">

    <ng-template #loading>
      <div class="text-center">
        <i class="fa fa-spin fa-spinner fa-5x"></i>
        <br>
        Loading events...
      </div>
    </ng-template>

    <ng-template ngbModalContainer></ng-template>

    <ng-template #modalContent let-close="close">
      <div class="modal-header">
        <button md-icon-button class="close header-button" (click)="close()">
          <md-icon>close</md-icon>
        </button>
      </div>
      <div class="modal-body">
        <app-activity-details [activityDetails]="modalData?.event.meta">

        </app-activity-details>
      </div>
    </ng-template>

    <app-calendar-header
      [(view)]="view"
      [(viewDate)]="viewDate"
      (viewDateChange)="fetchEvents()"
      (viewChange)="fetchEvents()">
    </app-calendar-header>

    <div *ngIf="events$ | async; else loading; let events">
      <div [ngSwitch]="view">

        <mwl-calendar-week-view
          *ngSwitchCase="'week'"
          [viewDate]="viewDate"
          [events]="events"
          [locale]="getCurrntLang"
          [refresh]="refresh"
          [weekStartsOn]="weekStartsOn"
          (eventClicked)="handleEvent('Clicked', $event.event)"
          (dayHeaderClicked)="goToDay($event)">
        </mwl-calendar-week-view>
        <mwl-calendar-day-view
          *ngSwitchCase="'day'"
          [viewDate]="viewDate"
          [events]="events"
          [locale]="getCurrntLang"
          [dayStartHour]="8"
          [dayEndHour]="20"
          [refresh]="refresh"
          (eventClicked)="handleEvent('Clicked', $event.event)">
        </mwl-calendar-day-view>

      </div>
    </div>
  </md-card>
</div>
