.cal-event-title {
  white-space: normal;
}

.cal-event {
  white-space: normal;
}
.app-tree{
  padding-left: 1em;
  padding-top: 1em;
}

.app-date-picker{
  padding-right: 1em;
  padding-top: 1em;
  top:1%;
}

.header-button {
  position: absolute;
}
